section{
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button{
  width: 40px;
  height: 200px;
  margin: 50px auto;
  background-color: white;
  border-radius: 5px;
  border: 3px solid grey;
}
button:hover{
  border: 5px solid orange;
  width: 45px;
  height: 220px;
}
button:active{
  border: 5px solid red;
  width: 45px;
  height: 220px;
}
p{
  font-size: 20px;
  margin-top: 150px;
  font-weight: bold;
  text-transform: uppercase;
}
.selected{
  border: 5px solid red;
  width: 45px;
  height: 220px;
}
.red{
  border: 5px solid red;
  width: 45px;
  height: 220px;
}
